{{- if and .Values.secrets.sealedSecret.enabled (not .Values.secrets.existingSecret) }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Release.Name }}-secrets
  labels:
    {{- include "vrc-queue-monitor.labels" . | nindent 4 }}
spec:
  encryptedData:
    DB_PASSWORD: {{ .Values.secrets.sealedSecret.encryptedData.dbPassword | quote }}
    VRC_USERNAME: {{ .Values.secrets.sealedSecret.encryptedData.vrcUsername | quote }}
    VRC_PASSWORD: {{ .Values.secrets.sealedSecret.encryptedData.vrcPassword | quote }}
    VRC_TOTP_SECRET: {{ .Values.secrets.sealedSecret.encryptedData.vrcTotpSecret | quote }}
    VRC_GROUP_ID: {{ .Values.secrets.sealedSecret.encryptedData.vrcGroupId | quote }}
  template:
    metadata:
      name: {{ .Release.Name }}-secrets
      labels:
        {{- include "vrc-queue-monitor.labels" . | nindent 8 }}
    type: Opaque
{{- end }}
